/*RESET PAGE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/*VARIBLE FONTS*/
:root {
  --font-main: "fontmain", Lato;
  --font-secondary: "fontsecondary", Poppins, arial;
}
/*CUSTOMIZAÇÃO h2*/
.text-main-who,
.tec-work-text-main,
.tec-area-text,
.text-delivery-main,
.text-doubt-main,
.tec-cloud-text-main,
.know-text-uscall,
.yealink-text-main {
  font-family: var(--font-secondary);
  font-size: 1.563rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 40px 0px 10px 0px;
  color: #9e1114;
}
/*INICIO DAS CONFIGURAÇÕES DO MENU*/
.logo {
  padding: 10px 0px 10px 100px;
}
.header-main {
  height: 173px;
}
.header {
  background-color: #9e1114;
  width: 100%;
  height: 50px;
}
ul.menu-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.menu-link {
  text-decoration: none;
  color: #f0f8ff;
  font-size: 0.688rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.img-icon-link {
  width: 20px;
  margin-right: 10px;
}

/*WHATTSAPP*/

.whattsapp {
  width: 70px;
  height: 70px;
  z-index: 999;
  position: fixed;
  left: 20px;
  bottom: 20px;
}
.whattsapp-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.zoomWhatt {
  transform: scale(1.8);
  transition: 2s ease-in-out;
}
/*INICIO DAS CONFIGURAÇÕES DO MAIN*/
.main {
  width: 100%;
  height: 82dvh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: changeBg 25s infinite alternate-reverse;
}

@keyframes changeBg {
  0% {
    background-image: url(../img/img-main.webp);
  }
  25% {
    background-image: url(../img/img-main2.webp);
  }
  50% {
    background-image: url(../img/img-main3.webp);
  }
  75% {
    background-image: url(../img/img-main4.webp);
  }
  100% {
    background-image: url(../img/img-main5.webp);
  }
}
.main-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.text-welcome {
  color: #9e1114;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 1px 1px 2px #ffffff;
  font-size: 3rem;
  font-family: var(--font-secondary);
}
.text-secondary {
  text-transform: uppercase;
  font-weight: 700;
  text-indent: 25%;
  line-height: 50px;
  font-size: 2rem;
  font-family: var(--font-secondary);
}
.text-span {
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
}
.text-span1 {
  color: #9e1114;
  text-shadow: 1px 1px 2px #ffffff;
  font-size: 2.5rem;
}
/*SOCCIAL-NETWORK*/
.social-network {
  height: 50px;
  text-align: center;
}
.icon-social {
  padding: 5px;
  width: 40px;
}
/* INICIO DA SEÇÃO WHO*/
.who-main {
  display: flex;
  align-items: center;
  visibility: hidden;
}
.text-who {
  width: 65%;
  padding: 25px 0px 25px 10px;
}
.text-main-who-p {
  font-family: var(--font-secondary);
  line-height: 25px;
  color: #646464;
  font-size: 0.875rem;
}
.text-main-who-p-link {
  text-align: end;
}
.text-main-who-p-link a {
  font-family: var(--font-secondary);
  line-height: 30px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #646464;
  text-decoration: none;
  padding: 20px;
}
.picture-who {
  width: 50%;
  padding: 25px 10px 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.img-aside1 {
  width: 410px;
  height: 275px;
  background-image: url(../img/img-asside1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000000;
}
.img-aside2 {
  width: 410px;
  height: 275px;
  background-image: url(../img/img-asside2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000000;
}
/*INICIO MODAL*/
.modal-main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.img-modal {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-modal-main {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.modal-secondary {
  width: 60%;
  height: 80%;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}
.text-modal {
  color: #9e1114;
  font-size: 1.1rem;
  padding: 10px 0px 0px 0px;
  font-family: var(--font-secondary);
  font-weight: 700;
  text-transform: uppercase;
}
.text-p-modal {
  color: #646464;
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  text-indent: 20px;
  padding-bottom: 5px;
}
.modal-main.open-modal {
  display: flex;
  z-index: 999;
  animation: aberturaModal 2s ease;
}
@keyframes aberturaModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.close-modal {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #646464;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: -20px;
  border: 3px solid white;
  cursor: pointer;
}
.div-modal {
  padding-left: 30px;
  margin-top: 20px;
  border-left: 5px solid #9e1114;
}
/*SEÇÃO TEC-WORK*/
.tec-work-main {
  height: auto;
  background-color: #f7f7f7;
  visibility: hidden;
}
.tec-work-section1 {
  text-align: center;
}
.tec-work-text-secondary {
  font-family: var(--font-secondary);
  padding-bottom: 20px;
  color: #646464;
  font-size: 0.875rem;
}
.tec-work-section2,
.tec-work-section3,
.tec-work-section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}
.tec-work-section2,
.tec-work-section4 {
  transform: translate3d(-63px, 0, 0);
  animation: tec-work1 10s infinite alternate;
}
.tec-work-section3 {
  transform: translate3d(63px, 0, 0);
  animation: tec-work2 10s infinite alternate;
}
.tec-work-section4 {
  padding-bottom: 80px;
}
.tec-work-img1,
.tec-work-img2,
.tec-work-img3,
.tec-work-img4,
.tec-work-img5,
.tec-work-img6,
.tec-work-img7,
.tec-work-img8,
.tec-work-img9,
.tec-work-img10,
.tec-work-img11,
.tec-work-img12 {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tec-work-img1-1,
.tec-work-img1-2,
.tec-work-img1-3,
.tec-work-img1-4,
.tec-work-img1-5,
.tec-work-img1-6,
.tec-work-img1-7,
.tec-work-img1-8,
.tec-work-img1-9,
.tec-work-img1-10,
.tec-work-img1-11,
.tec-work-img1-12 {
  width: 230px;
  height: 130px;
  border: 1px solid #000000;
  border-radius: 5px;
  opacity: 0.5;
}
.tec-work-img1-1:hover,
.tec-work-img1-2:hover,
.tec-work-img1-3:hover,
.tec-work-img1-4:hover,
.tec-work-img1-5:hover,
.tec-work-img1-6:hover,
.tec-work-img1-7:hover,
.tec-work-img1-8:hover,
.tec-work-img1-9:hover,
.tec-work-img1-10:hover,
.tec-work-img1-11:hover,
.tec-work-img1-12:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 1;
  transition: 1s linear;
}
/*ANIMAÇÃO TEC-WORK*/
@keyframes tec-work1 {
  0% {
    transform: translate3d(-63px, 0, 0);
  }
  50% {
    transform: translate3d(63px, 0, 0);
  }
  100% {
    transform: translate3d(-63px, 0, 0);
  }
}
@keyframes tec-work2 {
  0% {
    transform: translate3d(63px, 0, 0);
  }
  50% {
    transform: translate3d(-63px, 0, 0);
  }
  100% {
    transform: translate3d(63px, 0, 0);
  }
}
/*DIVISOR*/
.divisor-main {
  height: 350px;
  background-image: url(../img/divisor.webp);
  background-position: center;
  background-size: contain;
}
/*INICIO TEC AREA*/
.tec-area-main {
  background-color: #f7f7f7;
  visibility: hidden;
}
.tec-area-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.tec-area-2,
.tec-area-3,
.tec-area-4,
.tec-area-5 {
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 90%;
  margin-bottom: 20px;
}
.tec-area-img {
  width: 200%;
  box-shadow: 1px 1px 3px black;
}
.tec-area-3,
.tec-area-5 {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 30px;
}

.tec-img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}

.card-area {
  background-color: #ffffff;
  border-radius: 5px;
}
.tec-text-header {
  font-family: var(--font-secondary);
  font-weight: 700;
  color: #000000;
  font-size: 1.25rem;
  padding: 10px;
  text-transform: capitalize;
}
.tec-text-p {
  font-family: var(--font-secondary);
  color: #646464;
  padding: 0px 20px 0px 20px;
  line-height: 25px;
  font-size: 0.875rem;
}
/*INICIO DA DELIVERY OURS*/

.delivery-ours {
  /*visibility: hidden;*/
}
.text-delivery-secondary {
  text-align: center;
  font-family: var(--font-secondary);
  color: #646464;
  padding-bottom: 20px;
  font-size: 0.875rem;
}
.card-delivery {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding-bottom: 20px;
}
.card-delivery1,
.card-delivery2,
.card-delivery3,
.card-delivery4 {
  min-width: 280px;
  max-width: 280px;
  height: 180px;
  border: 1px solid #000000;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.img-delivery {
  width: 30%;
  height: 30%;
  padding-top: 15px;
}
.text-int {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: #9e1114;
  padding: 10px 0px 0px 0px;
}

.card-delivery1 p,
.card-delivery2 p,
.card-delivery3 p,
.card-delivery4 p {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: #9e1114;
}
/*ACCORDION*/
.accordion-main {
  padding-bottom: 40px;
}
.text-accordion {
  font-family: var(--font-secondary);
}
.text-accordion-main {
  font-family: var(--font-secondary);
  font-size: 0.875rem;
}
/*INICIO PARALAX*/
.paralax-main {
  height: auto;
}
.paralax-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 20px;
}
.container-text-form {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paralax-img-bg {
  height: 100%;
  background-image: url(../img/img-paralax.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.paralax-text-main {
  color: #ffffff;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1.75rem;
  padding-top: 20px;
}
.paralax-text-secondary {
  color: #ffffff;
  width: 100%;
  font-family: var(--font-secondary);
  font-size: 0.875rem;
}
/*INICIO DO FORMULARIO*/
.form-main {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 10px;
}
input,
textarea {
  padding: 8px;
  border-radius: 5px;
  border: none;
}
.btn-submit-main {
  text-align: center;
}
.btn-submit {
  width: 40%;
  height: 50px;
  font-family: var(--font-secondary);
  font-size: 0.85rem;
  background-color: #9e1114;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
}
input::placeholder,
textarea::placeholder {
  font-family: var(--font-secondary);
  font-size: 0.8rem;
}
.btn-submit:hover {
  background-color: #5c0e0f;
}
/*INICO DA TEC-CLOUD*/
.tec-cloud-text-secondary {
  font-family: var(--font-secondary);
  font-size: 0.85rem;
  text-align: center;
}

.cloud-view {
  display: flex;
  margin-top: 20px;
  visibility: hidden;
}

.cloud-img-main {
  width: 40%;
  padding: 20px;
}

.cloud-text-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 60%;
}

.text-cloud1,
.text-cloud2,
.text-cloud3,
.text-cloud4,
.text-cloud5,
.text-cloud6 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-clud-secondary {
  font-family: var(--font-main);
  text-transform: uppercase;
  font-size: 0.938rem;
  font-weight: 700;
  color: #9e1114;
}

.text-cloud-p {
  font-family: var(--font-secondary);
  font-size: 0.75rem;
}
.img-cloud-secondary {
  width: 100%;
}
.icon-cloud {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.icon-img-cloud {
  width: 40px;
  padding-bottom: 10px;
}

/*SECTION USCALL*/

.container-prices {
  display: flex;
  column-gap: 15px;
  margin-bottom: 20px;
  visibility: hidden;
}

.table-of-price {
  width: 33%;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}

.text-of-price {
  background-color: #54595f;
  height: 110px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.text-subscriber {
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  padding-top: 10px;
}

.radius-price {
  position: absolute;
  background-color: #eaeaea;
  width: 80%;
  height: 140px;
  border-radius: 80%;
  border: 2px solid gray;
  top: 80px;
  left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.type-of-price {
  margin-top: 120px;
}
.price-text-radius {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 2.1rem;
}
.price-text-p {
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  padding-left: 25px;
}
.icon-cloud-price {
  width: 30px;
  padding-right: 10px;
}
.price-target-main {
  position: relative;
  height: 30px;
}
.price-target {
  width: 50%;
  height: 30px;
  right: -5px;
  background-color: #9e1114;
  border-radius: 5px;
  position: absolute;
}
.price-target-text-p {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

/*CARROSEL*/

.yealink-text-p {
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 0.875rem;
}

.container-carrosel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.text-yealink-carrosel {
  height: 210px;
}

.text-yealink-carrosel p {
  font-family: var(--font-secondary);
  font-size: 0.75rem;
  line-height: 20px;
}
.img-yealing-banner {
  text-align: center;
  padding-bottom: 20px;
}
.teste {
  height: 500px;
  background-color: aquamarine;
}
